html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content"; 
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  grid-template-areas: 
  "d-header"
  "d-nav"
  "d-user";
}

.dashboard-header {
  grid-area: d-header;
}

.dashboard-nav {
  grid-area: d-nav;
}

.dashboard-user {
  grid-area: d-user;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr; 
  grid-template-areas: 
  "c-search c-buttons"
  "c-user-info c-buttons";
}

.container-search {
  grid-area: c-search;
}

.container-user-info {
  grid-area: c-user-info;
}

.container-buttons {
  grid-area: c-buttons;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas: 
  "notif profile1 profile2"
  "new upload share";
}

.notif {
  grid-area: notif;
}

.profile1 {
  grid-area: profile1;
}

.profile2 {
  grid-area: profile2;
}

.new {
  grid-area: new;
}

.upload {
  grid-area: upload;
}

.share {
  grid-area: share;
}

.main-content {
  grid-area: main-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  color: black;
}